<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>KIKS_API.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4E9DD07A1CCA64BA007A3D98</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4E9DD0901CCA64BB007A3D98</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4E9DD09B1CCA64BB007A3D98</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
