<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>KIKS_iOS.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4E01FD051CC3D5E20051BB9E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4E01FD191CC3D5E20051BB9E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4E01FD241CC3D5E30051BB9E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
